@model SampleViewModel
@using SampleWebTableHeader.Models
@{
    ViewData["Title"] = "Sample Page";
}
<link rel="stylesheet" href="~/css/sample.css" asp-append-version="true" />

<h2>position: sticky バージョン</h2>
<div class="table-frame">
    <div class="sample-table sticky">
        <div class="header">
            <div>日付</div>
            @for (var idx = 0; idx < 24; idx++)
            {
                <div class="hour">@($"{idx}時")</div>
            }
        </div>
        @foreach (var item in Model.Items)
        {
            <div>
                <div>@($"{item.Date:yyyy/MM/dd}")</div>
                @for (var idx = 0; idx < 24; idx++)
                {
                    <div class="hour"></div>
                }
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="~/js/sample.js" asp-append-version="true"></script>
